#blog {
  .continue.pull-right {
    padding: 20px;
  }
  ul.meta {
    font-size: 12px;
  }
}

// Modal window adjustments
.portfolio-modal {
  .modal-content {
    background-color: rgba(194, 180, 154, 1);
    color: #434343;
  }
}

@media (min-width: 767px) {
  section {
    padding: 50px 0;
  }

}

// banner section
.banner {
  .intro-welcome {
    font-family: $font-stack;
    font-weight: 300;
  }
  .text-primary {
    color:#fdc76b;
    font-family: $font-stack2;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 100px;
    @media (min-width: 641px) and (max-width: 991px) {
      font-size: 80px;
      -webkit-transition: font-size 1s ease;
      -moz-transition: font-size 1s ease;
      -ms-transition: font-size 1s ease;
      -o-transition: font-size 1s ease;
      transition: font-size 1s ease;
    }
    @media (max-width: 640px) {
      font-size: 50px;
      -webkit-transition: font-size 1s ease;
      -moz-transition: font-size 1s ease;
      -ms-transition: font-size 1s ease;
      -o-transition: font-size 1s ease;
      transition: font-size 1s ease;
    }
  }
  .text-secondary {
    font-family: $font-stack;
    font-size: 28px;
    font-weight: 400;
    @media (max-width: 640px) {
      font-size: 18px;
    }
  }
}
.intro-text {
  font-size: 18px;
  font-family: $font-stack;
  font-weight: 400;
}

// middle aside
.koomsa-gift {
  h2 {
    font-weight: 400;
  }
  p {
    margin: 10px;
  }
}

// bottom aside
.lower-aside {
  h1 {
    font-size: 80px;
    color:#FFF;
    font-family: $font-stack2;
    text-transform: capitalize;
    font-weight: 400;
    @media (min-width: 641px) and (max-width: 991px) {
      font-size: 60px;
      -webkit-transition: font-size 1s ease;
      -moz-transition: font-size 1s ease;
      -ms-transition: font-size 1s ease;
      -o-transition: font-size 1s ease;
      transition: font-size 1s ease;
    }
    @media (max-width: 640px) {
      font-size: 50px;
      -webkit-transition: font-size 1s ease;
      -moz-transition: font-size 1s ease;
      -ms-transition: font-size 1s ease;
      -o-transition: font-size 1s ease;
      transition: font-size 1s ease;
    }
  }
  span.sub-title {
    font-size: 40px;
    font-family: $font-stack;
    font-weight: 100;
    @media (min-width: 641px) and (max-width: 991px) {
      font-size: 25px;
      -webkit-transition: font-size 1s ease;
      -moz-transition: font-size 1s ease;
      -ms-transition: font-size 1s ease;
      -o-transition: font-size 1s ease;
      transition: font-size 1s ease;
    }
    @media (max-width: 640px) {
      font-size: 18px;
      -webkit-transition: font-size 1s ease;
      -moz-transition: font-size 1s ease;
      -ms-transition: font-size 1s ease;
      -o-transition: font-size 1s ease;
      transition: font-size 1s ease;
    }
  }
  .gap {
    height: 200px;
  }
  .quote {
    padding-top: 50px;
    font-size: 24px;
    span {
      display: block;
      padding-top: 15px;
      font-size: 15px;
      font-family: $font-stack;
    }
  }
}

// friends
@media (min-width: 767px) {
  .about-img-1 {
    background-image: url(../img/demo-portraits/portrait-1.jpg);
  }
  .about-img-2 {
    background-image: url(../img/demo-portraits/portrait-2.jpg);
  }
  .about-img-3 {
    background-image: url(../img/demo-portraits/portrait-3.jpg);
  }
  .about-img-4 {
    background-image: url(../img/demo-portraits/portrait-4.jpg);
  }
  .about-img-5 {
    background-image: url(../img/demo-portraits/portrait-5.jpg);
  }
  .about-img-6 {
    background-image: url(../img/demo-portraits/portrait-6.jpg);
  }
  .about-img-7 {
    background-image: url(../img/demo-portraits/portrait-7.jpg);
  }
  .about-img-8 {
    background-image: url(../img/demo-portraits/portrait-8.jpg);
  }
  .about-img-9 {
    background-image: url(../img/demo-portraits/portrait-9.jpg);
  }
}

// Footer
.footer-1 {
  font-family: $font-stack;
  font-weight: 100;
  address {
    line-height: 30px;
  }
  .footer-logo {
    img {
      @media (max-width: 480px) {
        max-width: 80%;
      }
    }
  }
}


// Blog / Video
#blog .continue.pull-right {
  padding: 5px;
}
.blog-1 {
  .blog-col {
    color: #0b0b0b;
    .h3, h3 {
      font-size: 20px;
          font-weight: 400;
    }
    .blog-preview-content p {
      font-size: 16px;
      margin: 0;
      padding-bottom: 0px;
      &.description {
        height: 235px;
      }
    }
  }
  .blog-col .blog-preview-content .continue {
    font-size: 14px;
    padding-bottom: 5px;
  }
.btn {
  &.btn-default {
    color: #FFF;
    background-color: #ad7f2a;
    border-color: #c8cdd7;
    color: #fff;
    a {
      color: #fff;
      display: block;
      border-color: #c8cdd7;

    }
    &:hover {
      background-color: lighten(#ad7f2a, 10%);
    }
  }
}
}
.koomsa-gift {
  .koomsa-gift-vids {
    padding-top: 65px;
    @media (max-width: 769px) {
      padding-top: 0;
    }
  }
  a.gift {
    display: block;
    img {
      &:hover {
        cursor: pointer;
      }

    }
  }

}

.call-text-block {
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 17px;
  }
}


